@using Kalenteri.Backend.Models
@using System.Globalization
@using Kalenteri.Backend.Services

@page "/"
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<PageTitle>Kalenteri</PageTitle>

<h1>KALENTERI</h1>

@if (loginId != null)
{
    <p>Käyttäjä: <b>@userId</b></p>
    <p>Jakopaikka: <b>@location</b></p>

    <h2 class="month-title">
        @MonthToString()kuu
    </h2>

    <div class="calendar">
        <span>Ma</span>
        <span>Ti</span>
        <span>Ke</span>
        <span>To</span>
        <span>Pe</span>
        <span>La</span>
        <span>Su</span>
        @for (int pad = 0; pad < GetFirstWeekPadding(); pad++)
        {
            <span class="week-day-padding" />
        }
        @for (int day = 1; day <= DateTime.DaysInMonth(year, month); day++)
        {
            var delivery = order.Boxes.SingleOrDefault(x => x.Delivery.Day == day && x.Delivery.Month == month);

            if (delivery != null)
            {
                <button class="btn" @onclick="@(_ => HandlePickUpClick(delivery.Delivery))"
                        style="@StyleForState(delivery.PickUp == null)">@day</button>
            }
            else
            {
                <button class="btn empty-btn" disabled>@day</button>
            }
        }
    </div>

    <div class="month-navigation">
        <button class="btn month-nav-btn" @onclick="DecreaseMonth">Edellinen</button>
        <button class="btn month-nav-btn" @onclick="IncreaseMonth">Seuraava</button>
    </div>
}
<Login  @ref="loginRef" LoginCallback="LoginComplete" />

@code {
    private string loginId = null; 
    private int month = DateTime.Now.Month;
    private int year = DateTime.Now.Year;
    private string userId = "testi";
    private string location = "";
    private Order order = null;
    private Login loginRef;
    private string statusText;
    
    
    private void DecreaseMonth()
    {
        if (month != 1)
        {
            month--;
        }
    }

    private void IncreaseMonth()
    {
        if (month != 12)
        {
            month++;
        }
    }

    private string MonthToString()
    {
        return CultureInfo.CreateSpecificCulture("fi")
        .TextInfo.ToTitleCase(CultureInfo.CreateSpecificCulture("fi")
        .DateTimeFormat.GetAbbreviatedMonthName(month));
    }

    private int GetFirstWeekPadding()
    {
        var weekDayNumber = (int)new DateTime(year, month, 1).DayOfWeek;
        return weekDayNumber == 0 ? 6 : weekDayNumber - 1;
    }

    private string StyleForState(bool state)
    {
        if (state) return "background:lime";
        return "background:cornflowerblue";
    }

    private void HandlePickUpClick(DateTime delivery)
    {
        
        var box = order.Boxes.Single(y => y.Delivery == delivery);

        if (box.PickUp == null)
        {
            box.PickUp = DateTime.Now;

        }
        else
        {
            box.PickUp = null;
        }
        
        UpdateData();
    }


    private async void UpdateData()
    {
        var result = Task.Run(() => OrderServices.UpdateData(order));
        order = result.Result.Resource;
        StateHasChanged();
    }
    
    protected override void OnAfterRender ( bool firstRender ) 
    {
        if (loginId == null)
        {
            loginRef.Show();
        }
    }

    private void LoginComplete(String id)
    {
        loginId = id;
        order = OrderServices.GetData(loginId);
        userId = order.Identifier;
        location = order.Location;
    }
    
}